# Директории виртуального окружения
.venv/
.venv-dev/
.venv-ci/

# Файлы среды и конфигурации
.env

# Кэш и временные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Конфигурация IDE и редакторов
.idea/
.vscode/
*.swp
*.swo

# Логи и временные файлы
logs/
*.log
*.log.*