# Директории виртуального окружения
.venv/
.venv-dev/

# Файлы среды и конфигурации
.env

# Логи и временные файлы
logs/
*.log
*.log.*

# Кэш и временные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Конфигурация IDE и редакторов
.idea/
.vscode/
*.swp
*.swo

# Базы данных
db/

# Виртуальное окружение для разработки
requirements-dev.txt
